<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /panmedia/panscifi-dev
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /panmedia/panscifi-dev/index.html [L]
</IfModule>